body {
  margin: 0px;
  overflow: hidden;
  background-image: linear-gradient(to right top, #ffffff, #fcfcfc, #f9f9f9, #f6f6f6, #f3f3f3);
}

.paralelogram {
  position: fixed;
  transform: skew(64deg) rotate(32deg);
}
