@font-face {
  font-family: 'Blanka';
  src: url('./fonts/blanka/Blanka.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  overflow: hidden;
  background: #ecf0f3;
}

.paralelogram {
  position: fixed;
  transform: rotate(32deg);
  background: #ecf0f3;
  border-radius: 16px;
  -webkit-box-shadow: 4px 4px 8px #d1d9e6, -2px -2px 4px #fff;
  box-shadow: 4px 4px 8px #d1d9e6, -2px -2px 4px #fff;

}

.text {
  font-family: "Blanka";
  font-size: 5em;
  letter-spacing: 0.2em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -110%);
  color: #ecf0f3;
  text-shadow: 4px 4px 8px #d1d9e6, -2px -2px 4px #fff;
}
